
@{
                /**/

                ViewBag.Title = "stokEkleView";
                Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Inventory_Management_Web_Application.Models
@model YazilimUrun

@{
    Personel p = (Personel)Session["Kullanici"];
}

@section head{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Şu anda <b>@Model.UrunAdi</b> İsimli Ürüne Stok Eklemektesiniz ...
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/YazilimUrun/stokEkle">
                    <input hidden value="@Model.ID" name="YazilimUrunID" />
                    <div class="form-group">
                        <label>Alınan Key Miktarı Giriniz</label> &nbsp;<span style="color: red;">*</span>
                        <input type="text" name="AlinanMiktar" class="form-control" placeholder="Alınan Miktarı Giriniz..." required="" />
                    </div>
                    @{
                        if (p.Rol.RolAdi != "LDAP")
                        {

                            foreach (Personel item in ViewBag.personelleri)
                            {
                                if (item.ID == p.ID)
                                {
                                    <input type="text" class="form-control hidden" name="AlanPerID" value="@item.ID" required>
                                }
                            }
                        }
                        else
                        { <div class="form-group">
                                <label for="exampleInputEmail1">Ürünü Alan Kişiyi Seçiniz </label>
                                @Html.DropDownList("AlanPerID", (SelectList)ViewBag.personeller, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", required = "true" })
                            </div>
                        }
                    }
                          <div class="form-group">
                              <label for="exampleInputEmail1">Tedarikçiyi Seçiniz </label> &nbsp;<span style="color: red;">*</span>
                              @Html.DropDownList("TedarikciID", (SelectList)ViewBag.tedarikciler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", required = "true" })
                          </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Açıklama Giriniz. </label>
                        <input type="text" class="form-control" placeholder="Açıklama Adı Giriniz..." name="Aciklama">
                    </div>
                    <button type="submit" class="btn btn-info">Kaydet</button>
                </form>

            </div>
        </section>
    </div>
</div>

<script src="/Content/js/jquery.js"></script>
<script src="/Content/js/jquery-1.8.3.min.js"></script>

<script>
    var id;
    var modalConfirm = function (callback) {
        $(".btn-confirm").on("click", function () {
            id = $(this).attr("data-id");
            $("#mi-modal").modal('show');
        });

        $("#modal-btn-si").on("click", function () {
            callback(true);
            $("#mi-modal").modal('hide');
        });

        $("#modal-btn-no").on("click", function () {
            callback(false);
            $("#mi-modal").modal('hide');
        });
    };


</script>

