
@{
    Layout = null;
}


@using Inventory_Management_Web_Application.Models

@model List<UrunCikis>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UrunCikis_Print</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
</head>
<body>
    <div style="align-items:center;text-align:center;">
        <h3>Düzce Üniversitesi Bilgi İşlem Daire Başkanlığı <br /> BISTOK Ürün Çıkışları Raporu</h3> <p>@DateTime.Now</p><br />
        @if (Model.Count == 0)
        {
            <p>Girilen Özelliklerde herhangi bir kayıt bulunamadı.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün Kodu</th>
                        <th>Ürün Adı</th>
                        <th>Teslim Eden Personel</th>
                        <th>Teslim Alan Personel</th>
                        <th>Seri No</th>
                        <th>Teslim Tarihi</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td align="left">
                            @item.UrunStok.Urun.UrunKodu
                        </td>
                        <td align="left">
                            @item.UrunStok.Urun.UrunAdi
                        </td>
                        <td align="left">
                            @item.Personel.Adi @item.Personel.Soyadi
                        </td>
                        <td align="left">
                            @item.TeslimAlanPersonel.Adi @item.TeslimAlanPersonel.Soyadi
                        </td>
                        <td align="left">
                            @item.UrunStok.UrunSeriNo
                        </td>
                        <td align="left">
                            @item.TeslimTarihi.Value.ToShortDateString()
                        </td>
                    </tr>
                    }

                </tbody>
            </table>

        }



    </div>
</body>
</html>
