
@{
    Layout = null;
}


@using Inventory_Management_Web_Application.Models

@model List<YazilimUrun>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urun_Print</title>
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
</head>
<body>
    <div style="align-items:center;text-align:center;">
        <h3>Düzce Üniversitesi Bilgi İşlem Daire Başkanlığı <br /> BISTOK Yazılım Ürün Raporu </h3> <p>@DateTime.Now</p><br />
        @if (Model.Count == 0)
        {
            <p>Girilen Özelliklerde herhangi bir kayıt bulunamadı.</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Ürün Kodu</th>
                        <th>Seri No</th>
                        <th>Kategori</th>
                        <th>Adı</th>
                        <th>Stok</th>
                        <th>Eklenme Tarihi</th>
                        <th>Lisans Başlangıç</th>
                        <th>Lisans Bitiş</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td align="left">
                                @item.UrunID
                            </td>
                            <td align="left">
                                @item.UrunSeriNo
                            </td>
                            <td align="left">
                                @item.AltKategori.KategoriAdi
                            </td>
                            <td align="left">
                                @item.UrunAdi
                            </td>
                            <td align="left">
                                @item.KeyAdet
                            </td>
                            <td align="left">
                                @item.EklenmeTarihi.Value.Day/@item.EklenmeTarihi.Value.Month/@item.EklenmeTarihi.Value.Year
                            </td>
                            <td align="left">
                                @item.LisansBaslangicTarihi.Value.Day/@item.LisansBaslangicTarihi.Value.Month/@item.LisansBaslangicTarihi.Value.Year
                            </td>
                            <td align="left">
                                @item.LisansBitisTarihi.Value.Day/@item.LisansBitisTarihi.Value.Month/@item.LisansBitisTarihi.Value.Year
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        }

    </div>
</body>
</html>
