
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section head{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

@using Inventory_Management_Web_Application.Models

@model AltKategori

<div class="row">
    <div class="col-lg-12">
        @if (TempData["GenelMesaj"] != null)
        {
            <div class="alert alert-success">
                <p>@TempData["GenelMesaj"]</p>
            </div>
        }

        <section class="panel">
            <header class="panel-heading">
                Şu anda <b>@Model.KategoriAdi</b> kategorisini düzenliyorsunuz...
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Kategori/AltKategoriGuncelle">
                    @Html.Hidden("ID", Model.ID)
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ana Kategori Seçiniz </label>&nbsp;<span style="color: red;">*</span>
                        @Html.DropDownList("AnaKategorID", (SelectList)ViewBag.kategoriler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", required = "true"})
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürün Adı </label> &nbsp;<span style="color: red;">*</span>
                        <input type="text" class="form-control" placeholder="Ürün Adı Giriniz..." name="KategoriAdi" value="@Model.KategoriAdi" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürün Kodu </label>
                        <input type="text" class="form-control" placeholder="Ürün Kodu Giriniz..." name="Aciklama" value="@Model.Aciklama">
                    </div>
                    <button type="submit" class="btn btn-info">Kaydet</button>
                    <a href="/Personel/TaListele" class="btn btn-danger">İptal</a>
                    <button type="reset" class="btn btn-default">Temizle</button>
                </form>

            </div>
        </section>
    </div>
</div>

