
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using Inventory_Management_Web_Application.Models

<div class="row state-overview">

    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol red">
                <i class="icon-tasks"></i>
            </div>
            <div class="value">
                <h1 class=" count"></h1>
                <p>Ürün Sayısı</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol blue">
                <i class="icon-code"></i>
            </div>
            <div class="value">
                <h1 class=" count2"></h1>
                <p>Yazılım Ürün Sayısı</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol yellow">
                <i class="icon-user"></i>
            </div>
            <div class="value">
                <h1 class=" count3"></h1>
                <p>Kullanıcı Sayısı</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol terques">
                <i class="icon-shopping-cart"></i>
            </div>
            <div class="value">
                <h1 class=" count4"></h1>
                <p>Tedarikçi Sayısı</p>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel tasks-widget">
            <header class="panel-heading">
                Lisans Bitiş Tarihi Yaklaşan Yazılımlar
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul id="sortable" class="task-list ui-sortable">
                        @{
                            bool control = true;
                        }
                        @foreach (YazilimUrun item in ViewBag.yazilimlar)
                        {
                            var lisansUyari = (item.LisansBitisTarihi.Value.Date - DateTime.Now.Date).TotalDays;
                            if (lisansUyari <= ViewBag.ayarlar.YazilimUrun)
                            {
                                <li class="list-success">
                                    <i class=" icon-ellipsis-vertical"></i>
                                    <div class="task-title">
                                        <span class="task-title-sp">@item.UrunAdi</span>	&nbsp;
                                        @if (lisansUyari > 0)
                                        {
                                            <span class="badge badge-sm label-danger">@lisansUyari Gün Kaldı</span>
                                        }
                                        else if (lisansUyari == 0)
                                        {
                                            <span class="badge badge-sm label-danger">Son Gün</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-sm label-danger">Lisans Süresi bitmiştir.</span>
                                        }
                                    </div>
                                </li>
                                control = false;
                            }
                        }
                        @if (control)
                        {
                            <p>Lisans bitiş tarihi yaklaşan yazılım bulunmamaktadır.</p>
                        }

                    </ul>
                </div>
                <div class=" add-task-row">
                    <a class="btn btn-success btn-sm pull-right" href="/YazilimUrun/Listesi">Tüm Ürünleri Gör</a>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <section class="panel tasks-widget">
            <header class="panel-heading">
                Key Adedi Azalan Yazılımlar
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul id="sortable" class="task-list ui-sortable">
                        @{
                            control = true;
                        }
                        @foreach (YazilimUrun item in ViewBag.yazilimlar)
                        {
                            if (item.KeyAdet <= ViewBag.ayarlar.YazilimUrunStok)
                            {
                                <li class="list-primary">
                                    <i class=" icon-ellipsis-vertical"></i>
                                    <div class="task-title">
                                        <span class="task-title-sp">@item.UrunAdi  </span>	&nbsp;
                                        <span class="badge badge-sm label-danger">  @item.KeyAdet Adet Kaldı</span>
                                    </div>
                                </li>
                                control = false;
                            }
                        }
                        @if (control)
                        {
                            <p>Key adedi azalan yazılım bulunmamaktadır.</p>
                        }

                    </ul>
                </div>
                <div class=" add-task-row">
                    <a class="btn btn-primary btn-sm pull-right" href="/YazilimUrun/Listesi">Tüm Ürünleri Gör</a>
                </div>
            </div>
        </section>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <section class="panel tasks-widget">
            <header class="panel-heading">
                Stoğu Azalan Ürünler
            </header>
            <div class="panel-body">
                <div class="task-content">
                    <ul id="sortable" class="task-list ui-sortable">
                        @{
                            control = true;
                        }
                        @foreach (Urun item in ViewBag.urunler)
                        {
                            if (item.UrunGiris.Where(x => x.UrunID == item.ID).Sum(y => y.KalanMiktar).Value <= ViewBag.ayarlar.UrunStok)
                            {
                                <li class="list-warning">
                                    <i class=" icon-ellipsis-vertical"></i>
                                    <div class="task-title">
                                        <span class="task-title-sp">@item.UrunAdi  </span>	&nbsp;
                                        <span class="badge badge-sm label-danger">  @item.UrunGiris.Where(x => x.UrunID == item.ID).Sum(y => y.KalanMiktar).Value @item.UrunBirim.Adi Kaldı</span>
                                    </div>
                                </li>
                                control = false;
                            }
                        }
                        @if (control)
                        {
                            <p>Stok sayısı azalan ürün bulunmamaktadır.</p>

                        }

                    </ul>
                </div>
                <div class=" add-task-row">
                    <a class="btn btn-warning btn-sm pull-right" href="/Urun/Listesi">Tüm Ürünleri Gör</a>
                </div>
            </div>
        </section>
    </div>
</div>

@section  script{

<script>


    function countUp(count) {
        var div_by = @ViewBag.urunsayisi,
            speed = Math.round(count / div_by),
            $display = $('.count'),
            run_count = 0,
            int_speed = 24;

        var int = setInterval(function () {
            if (run_count < div_by) {
                $display.text(speed * run_count);
                run_count++;
            } else if (parseInt($display.text()) < count) {
                var curr_count = parseInt($display.text()) + 1;
                $display.text(curr_count);
            } else {
                clearInterval(int);
            }
        }, int_speed);
    }

    countUp(@ViewBag.urunsayisi);

    function countUp2(count) {
        var div_by = @ViewBag.yazilimsayisi,
            speed = Math.round(count / div_by),
            $display = $('.count2'),
            run_count = 0,
            int_speed = 24;

        var int = setInterval(function () {
            if (run_count < div_by) {
                $display.text(speed * run_count);
                run_count++;
            } else if (parseInt($display.text()) < count) {
                var curr_count = parseInt($display.text()) + 1;
                $display.text(curr_count);
            } else {
                clearInterval(int);
            }
        }, int_speed);
    }

    countUp2(@ViewBag.yazilimsayisi);

    function countUp3(count) {
        var div_by = @ViewBag.kullanicisayisi,
            speed = Math.round(count / div_by),
            $display = $('.count3'),
            run_count = 0,
            int_speed = 24;

        var int = setInterval(function () {
            if (run_count < div_by) {
                $display.text(speed * run_count);
                run_count++;
            } else if (parseInt($display.text()) < count) {
                var curr_count = parseInt($display.text()) + 1;
                $display.text(curr_count);
            } else {
                clearInterval(int);
            }
        }, int_speed);
    }

    countUp3(@ViewBag.kullanicisayisi);

    function countUp4(count) {
        var div_by = @ViewBag.tedarikcisayisi,
            speed = Math.round(count / div_by),
            $display = $('.count4'),
            run_count = 0,
            int_speed = 24;

        var int = setInterval(function () {
            if (run_count < div_by) {
                $display.text(speed * run_count);
                run_count++;
            } else if (parseInt($display.text()) < count) {
                var curr_count = parseInt($display.text()) + 1;
                $display.text(curr_count);
            } else {
                clearInterval(int);
            }
        }, int_speed);
    }

    /**/
    countUp4(@ViewBag.tedarikcisayisi);
/**/
</script>


}