
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


@section head{

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
}

@using Inventory_Management_Web_Application.Models

@{
    Personel p = (Personel)Session["Kullanici"];
}

<div class="row">

    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="col-lg-12">
                    <b> Yeni Ürün Ekle</b>
                </div>
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Urun/Ekle">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Kategori Seçiniz </label>&nbsp;<span style="color: red;">*</span>
                                    @Html.DropDownList("KategoriID", (SelectList)ViewBag.anakategoriler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", required = "true", id = "ana" })
                                    @*@Html.DropDownList("KategoriID", (MultiSelectList)ViewBag.anakategoriler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", id = "ana" })*@

                                </div>
                                <!--ürün alt kategori-->
                                <div class="form-group alt">
                                </div>

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ürün Adı </label>&nbsp;<span style="color: red;">*</span>
                                    <input type="text" class="form-control" placeholder="Ürün Adı Giriniz..." name="UrunAdi" required>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ürün Tipi Seçiniz </label>
                                    @Html.DropDownList("UrunTipID", (SelectList)ViewBag.uruntipler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true"})
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Birim Seçiniz </label>&nbsp;<span style="color: red;">*</span>
                                    @Html.DropDownList("UrunBirimID", (SelectList)ViewBag.urunbirimler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", required = "true", id="tekil"})
                                </div>
                                <!--ürün stok-->
                                <div class="form-group tekil">
                              
                                </div>

                                @{
                                    if (p.Rol.RolAdi != "LDAP")
                                    {

                                        foreach (Personel item in ViewBag.personeller)
                                        {
                                            if (item.ID == p.ID)
                                            {
                                                <input type="text" class="form-control hidden" name="PersonelID" value="@item.ID" required>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Ekleyen Kişiyi Seçiniz </label>&nbsp;<span style="color: red;">*</span>
                                            @Html.DropDownList("PersonelID", (SelectList)ViewBag.personelleri, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", required = "true" })
                                        </div>
                                    }
                                }

                                <div class="form-group">
                                    <label for="exampleInputEmail1">Tedarikçi Seçiniz </label>&nbsp;<span style="color: red;">*</span>
                                    @Html.DropDownList("TedarikciID", (SelectList)ViewBag.tedarikciler, new { @class = "selectpicker form-control", size = 5, @data_live_search = "true", required = "true", style="background: white"})
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Ürün Açıklama </label>
                                    <input type="text" class="form-control" placeholder="Açıklama Giriniz..." name="Aciklama">
                                </div>
                                <div class="form-group seristok">
                                    <a id="seri" class="btn btn-success"> <i class="glyphicon-plus"></i>Stok Ekle</a>
                                    <label for="exampleInputEmail1">Ürüne Stok eklemek için yandaki butona basarak istediğiniz kadar alan açabilirsiniz. </label>
                                </div>
                                <div class="serinumaralar">

                                </div>
                                <div class="hidden">
                                    <input type="text" class="hidden seriler" name="UrunSeriNo" />
                                </div>
                                <button type="submit" id="button" class="btn btn-info">Kaydet</button>
                                <a href="/Urun/Listesi" class="btn btn-danger">İptal</a>
                                <button type="reset" class="btn btn-default">Temizle</button>

                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </section>
    </div>
</div>


@section script{
    <script>
        var id;
        $("#ana").change(function () {
            id = this.value;
            $.ajax({
                url: '/Urun/altKategoriDropdown/' + id,
                type: 'GET',
                cache: false,
                success: function (data) {
                    $('.alt').html(data);
                },
                error: function () {
                    $('.alt').html("");
                }
            });
        });


        var seriSayac = 1;
        $("#seri").click(function () {           
                $('.serinumaralar').append('<div class="form-group">' +
                    '<label for="exampleInputEmail1">' + seriSayac + '. Stok Seri No </label>&nbsp;<span style="color: red;">*</span>' +
                    '<input type="text" class="form-control seridoldur" onblur="seridoldur()"  placeholder="' + seriSayac + '. Stok Seri No Giriniz..."  required>' +
                '</div>');
            seriSayac++;
        });

        function seridoldur() {
            var tumSeriler = "";
            var girisler = $(".seridoldur");
            var len = girisler.length;
            for (var i = 0; i < len; i++) {
                if (girisler[i].value !== "") {
                    tumSeriler = girisler[i].value + "^" + tumSeriler;
                }
            }
            $('.seriler').val(tumSeriler);
        }



        var id3;
        $("#tekil").change(function () {
            id3 = this.value;
            alert(id3);
            if (id3 === 5) {
                $(".tekil").append(
                    '<label for="exampleInputEmail1">Stok Giriniz</label> & nbsp; <span style="color: red;">*</span> ' + 
                    '<input type="text" class="form-control" placeholder="Ürün Stok Miktarı Giriniz..." name="UrunTekilStok" required >'
                );
             //   $(".serinumaralar").removeData();
            }
            else {
                //$('.serinumaralar').append('<div class="form-group">' +
                //    '<label for="exampleInputEmail1">' + seriSayac + '. Stok Seri No </label>&nbsp;<span style="color: red;">*</span>' +
                //    '<input type="text" class="form-control seridoldur" onblur="seridoldur()"  placeholder="' + seriSayac + '. Stok Seri No Giriniz..."  required>' +
                //    '</div>');
                //$(".tekil").removeData();
            }
        });

        
    </script>
}