
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using Inventory_Management_Web_Application.Models

@model Urun

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Şu anda <b> @Model.UrunAdi </b>ürününü düzenliyorsunuz...
            </header>
            <div class="panel-body">
                <form role="form" method="post" action="/Urun/Guncelle">
                    @Html.Hidden("ID", Model.ID)
                    <div class="form-group">
                        <label for="exampleInputEmail1">Alt Kategori Seçiniz </label>&nbsp;<span style="color: red;">*</span>
                        @Html.DropDownList("altKategoriID", (SelectList)ViewBag.anakategoriler, "Seçiniz...", new { @class = "form-control", required = "required" })
                    </div>

                    <div class="form-group alt">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürün Tipi Seçiniz </label>
                        @Html.DropDownList("UrunTipID", (SelectList)ViewBag.uruntipler, "Seçiniz...", new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürün Adı </label>
                        <input type="text" class="form-control" placeholder="Ürün Adı Giriniz..." name="UrunAdi" value="@Model.UrunAdi" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürün Kodu </label> &nbsp;<span style="color: red;">*</span>
                        <input type="text" class="form-control" placeholder="Ürün Kodu Giriniz..." name="UrunKodu" value="@Model.UrunKodu" required readonly>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Birim Seçiniz </label> &nbsp;<span style="color: red;">*</span>
                        @Html.DropDownList("UrunBirimID", (SelectList)ViewBag.urunbirimler, "Seçiniz...", new { @class = "form-control", required = "required" })
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Ürün Açıklama </label>
                        <input type="text" class="form-control" placeholder="Açıklama Giriniz..." value="@Model.Aciklama" name="Aciklama">
                    </div>
                    <button type="submit" class="btn btn-info">Kaydet</button>
                    <a href="/Urun/Listesi" class="btn btn-danger">İptal</a>
                    <button type="reset" class="btn btn-default">Temizle</button>
                </form>

            </div>
        </section>
    </div>
</div>


@section script{
    <script>
           var id;
           $("#ana").change(function () {
               id = this.value;
               $.ajax({
                   url: '/Urun/altKategoriDropdown/' + id,
                   type: 'GET',
                   cache: false,
                   success: function (data) {
                       $('.alt').html(data);
                   },
                   error: function () {
                       alert("eror");
                   }
               });
           });
    </script>
}