
@{
    /**/

    ViewBag.Title = "Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using Inventory_Management_Web_Application.Models

@model List<UrunCikis>


@section head{
    <link rel="stylesheet" href="/Content/assets/data-tables/DT_bootstrap.css" />
    <style type="text/css">
        tbody, thead {
            width: 19.2%;
        }

        tbody, thead {
            font-size: 12px;
        }

        #back {
            background-color: #EECBC4;
        }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="padding-bottom: 10px;">
                <div class="col-lg-12" style="margin-bottom:10px;">
                    <b>Ürün Çıkış Kayıtları</b>
                </div>
            </header>

            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="adv-table editable-table">
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                    <th>Çıkan Miktar</th>
                                    <th>Teslim Alan</th>
                                    <th>Teslim Veren</th>
                                    <th>Teslim Tarihi</th>
                                    <th>Açıklama</th>
                                    <th style="text-align:center;"> İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr id="@item.ID">
                                        <td>
                                            @item.Urun.UrunAdi
                                        </td>
                                        <td>
                                            @item.CikanMictar
                                        </td>
                                        <td>
                                            @item.TeslimAlanPersonel.Adi @item.TeslimAlanPersonel.Soyadi
                                        </td>
                                        <td>
                                            @item.Personel.Adi @item.Personel.Soyadi
                                        </td>
                                        <td>
                                            @item.TeslimTarihi.Value.Day/@item.TeslimTarihi.Value.Month/@item.TeslimTarihi.Value.Year
                                        </td>
                                        <td>
                                            @item.Aciklama
                                        </td>
                                        <td>
                                            <a title="Sil" style="float:right;" class="btn btn-danger btn-xs btn-confirm" data-id="@item.ID"><i class="icon-trash"></i> Sil</a>
                                           <a title="PDF Çıkar" href="/Print/UrunCikis/@item.CikisNumarasi" style="float:right;margin-right:5px;" class="btn btn-info btn-xs"><i class="icon-print"></i> Belge</a>

                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="mi-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Bu Ürünü Silmek İstediğinizden Emin misiniz ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="modal-btn-si">Sil</button>
                <button type="button" class="btn btn-primary" id="modal-btn-no">Kapat</button>
            </div>
        </div>
    </div>
</div>



@section script{
    <script type="text/javascript" src="/Content/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Content/assets/data-tables/DT_bootstrap.js"></script>

    <!--common script for all pages-->
    <!--script for this page only-->
    <script src="/Content/js/editable-table.js"></script>
    <!-- END JAVASCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();

        });
    </script>
    <script>
        window.onload = function () {
            $('#listele').addClass('active');
        }</script>


    <script>
        var id;
        var modalConfirm = function (callback) {

            $(".btn-confirm").on("click", function () {
                id = $(this).attr("data-id");
                $("#mi-modal").modal('show');
            });

            $("#modal-btn-si").on("click", function () {
                callback(true);

                $("#mi-modal").modal('hide');
            });

            $("#modal-btn-no").on("click", function () {
                callback(false);
                $("#mi-modal").modal('hide');
            });
        };


        modalConfirm(function (confirm) {
            if (confirm) {
                $.ajax({
                    url: '/Urun/Sil/' + id,
                    type: 'POST',
                    success: function (rs) {
                        if (rs === true) {
                            $('#' + id).remove();
                        }
                        else if (rs === "FK") {
                            alert("Bu ürüne ait Garanti Kaydı , Ürün Giriş Kaydı veya Ürün Çıkış Kaydı Bulunduğundan dolayı bu Ürün Silemezsiniz. ");
                        }
                        else {
                            alert('Silme işlemi gerçekleşirken bir hata oluştu.');
                        }
                    },
                    error: function (rs) {
                        alert('Bir hata oluştu');
                    }
                });
            } else {
                alert("Hata");
            }
        });

    </script>
}