
@{
    /**/

    ViewBag.Title = "Listesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



@using Inventory_Management_Web_Application.Models

@model List<UrunCikis>


@section head{
    <link rel="stylesheet" href="/Content/assets/data-tables/DT_bootstrap.css" />
    <style type="text/css">
        tbody, thead {
            width: 19.2%;
        }

        tbody, thead {
            font-size: 12px;
        }

        #back {
            background-color: #EECBC4;
        }
    </style>
}
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="padding-bottom: 10px;">
                <div class="col-lg-12" style="margin-bottom:10px;">
                    <b>Ürün Çıkış Kayıtları</b>
                </div>
            </header>

            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="adv-table editable-table">
                        <table class="table table-striped table-hover table-bordered" id="editable-sample">
                            <thead>
                                <tr>
                                    <th>Ürün Kodu</th>
                                    <th>Ürün Adı</th>
                                    <th>Seri No Veya Miktar</th>
                                    <th>Teslim Veren</th>
                                    <th>Teslim Tarihi</th>
                                    <th>Teslim Birim</th>
                                    <th>Teslim Alan</th>
                                    <th>Açıklama</th>
                                    <th style="text-align:center;"> Tutanak</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr id="@item.ID">
                                    <td>@item.UrunStok.Urun.UrunKodu</td>
                                    <td>
                                        @item.UrunStok.Urun.UrunAdi
                                    </td>
                                    <td>
                                        @if (item.UrunStok.UrunTekilStok != null)
                                        {
                                            <span class="label label-primary label-mini">@item.CikanMictar @item.UrunStok.Urun.UrunBirim.Adi</span>
                                        }
                                        else
                                        {
                                            <span class="label label-success label-mini">@item.UrunStok.UrunSeriNo</span>
                                        }
                                    </td>
                                    <td>
                                        @item.Personel.Adi @item.Personel.Soyadi
                                    </td>
                                    <td>
                                        @item.TeslimTarihi.Value.Day/@item.TeslimTarihi.Value.Month/@item.TeslimTarihi.Value.Year
                                    </td>
                                    <td>
                                        @item.TeslimAlanPersonel.Birim.Adi
                                    </td>
                                    <td>
                                        @item.TeslimAlanPersonel.Adi @item.TeslimAlanPersonel.Soyadi
                                    </td>
                                    <td>
                                        @item.Aciklama
                                    </td>
                                    <td>
                                        <a title="PDF Çıkar" target="_blank" href="/Print/UrunCikis/@item.CikisNumarasi" style="float:right;margin-right:5px;" class="btn btn-info btn-xs"><i class="icon-print"></i> Tutanağı Göster</a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>


@section script{
    <script type="text/javascript" src="/Content/assets/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Content/assets/data-tables/DT_bootstrap.js"></script>

    <!--common script for all pages-->
    <!--script for this page only-->
    <script src="/Content/js/editable-table.js"></script>
    <!-- END JAVASCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            EditableTable.init();

        });
    </script>
    <script>
        window.onload = function () {
            $('#listele').addClass('active');
        }</script>


    
}